@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
	font-family: 'PT Sans', sans-serif;
	transition: all 0.2s ease-in-out;
}


h5 {
	font-size: 18px;
	font-weight: 700;
	margin: 0;
}


header {
	height: 500px;
	background-image: url('../images/main-bg.jpg');
	background-position: center;
	color: white;

	h1 {
		font-size: 48px;
		font-weight: 300;
		margin-bottom: 84px;
		font-family: 'Open Sans', sans-serif;
	}	
}

.nav-link {
	&:active {
		color: #FF0000 !important;
	}
	&:hover {
		color: #FFFF00 !important;
	}
	&:focus {
		color: #FF0000 !important;
	}
}

.header {
	text-align: center;
	margin-top: 80px;
	margin-bottom: 32px;
}

.about-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 323px;
	min-width: 340px;
	background-color: #FAFAFA;
	margin: 20px;

	&:hover {
		box-shadow: 0 4px 5px rgba(0,0,0,0.15);
  		transition: all 0.5s ease-in-out; 
	}
	
	p {
		font-size: 14px;
		margin-bottom: 37px;
		height: 73px;
		width: 270px;
		margin-top: 11px;
		line-height: 18.12px;
	}
		
		img {
			margin-top: 40px;
			margin-bottom: 25px;
		}
			
	    	a {
				font-size: 14px;
				margin-bottom: 30px;

				&:hover {
					color: #FFFF00;
				}

				&:active {
					color: #FF0000;
				}

				&:focus {
					color: #FF0000;
				}
			}
}

#small-image {
	margin-top: 46px;
	margin-bottom: 31px;
}

.features-card {
	text-align: center;
	max-width: 270px;
	margin: 45px;
	
	h5 {
		margin-top: 25px;
		margin-bottom: 11px;

	}
		a {
			&:hover {
				color: #FFFF00;
			}

			&:active {
				color: #FF0000;
			}

			&:focus {
				color: #FF0000;
			}
		}
}

.button {
	width: 231px;
	height: 56px;
	background: none;
	outline: none;
	border: 1px solid #85B657;
	box-sizing: border-box;
	border-radius: 4px;

	&:hover {
		transition: all 0.3s ease-in-out;
		background: #85B657;
		color: white;
		box-shadow: 0 4px 5px rgba(0,0,0,0.15);
	}

	&:focus,:active {
		background: #85B657;
		color: white;
	}
}

.sponsors a {
	margin: 25px;
	margin-bottom: 120px;

	&:hover {
		transform: scale(1.1);
	}
}

.small-logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer {
	background: #19263F;
	height: 240px;

	.menu {
		width: 300px;
		margin-top: 40px;
		margin-bottom: 10px;
		
		a {
			color: white;

			&:hover {
				color: #FFFF00;
			}

			&:focus,:active {
				color: #FF0000;
			}
		}
	}

	.social-media {
		width: 220px;

		a {
			&:hover {
				transform: scale(1.1);
			}
		}
	}

	p {
		color: white;
		font-weight: bold;
		margin-bottom: 50px;
	}
}

